/* DEBUT Partie HEADER */


/* FIN Partie HEADER */


/* DEBUT Partie CONTENU */


/* FIN Partie CONTENU */


/* DEBUT Partie FOOTER */
footer {
    background-color: rgb(purple, yellow, red);
    height: 15%;
}
P {
    color: black;
}

/* FIN Partie FOOTER */